{{!< default}}
<div class="topJHS">
	<img src="/images/BrooklynCrop.jpg" alt="NYC" />
	<div class="logo">
		<h1 id="name">John Shahabian</h1>
		<div id="line1"></div>
		<div class="line2"></div>
		<h4 class="dev">The Delevoper Apostle has descended to save thou from the digital deluge</h4>

	</div>

</div>


<div class="line3"><div class="circle"><img src="/images/Fireside.jpg" alt="Apostle" id="me" /></div></div>

<div class="greeting">
	<h1>Welcome to my site!</h1>
	<h3>Finally a web developer with the ability to assess gaps in technology, wade through the limitless options, and tailor them to your specific needs.</h3>
	<p>
		With so many libraries, frameworks, and website builders at hand it is a wonderous time to be a developer, coding has never been faster or more accessible.
		Although our ability to produce and curate content has never been easier it can be difficult to know which tool is best suited for the job at hand.
		To combat this problem I have taken it upon myself to learn the newest most powerful Javascript and web development tools to meet the needs of my clients.
		With my wide base of software engineering knowledge I can help move you into the digital future.
	</p>
</div>

<div class="backing">
	<a id="viewPort" href="#portJump"><h2>View Portfolio</h2></a>
</div>

<div class="lines">
	<div class="line5"></div>
	<div class="line6"></div>
</div>

<div class="tech">

  <div class="row">
    <div class="col-md-12">
      <h1><strong>Technical Skills</strong></h1>
			<h4><strong>Below are the list of skills I implement everyday</strong></h4>
    </div>
  </div>

  <div class="tileRow">
		<div class="position">
      <div class="tile t1">
        <h3 class="title">Javascript</h3>
      </div>
		</div>
		<div class="position">
      <div class="tile t2">
        <h3 class="title">HTML</h3>
      </div>
		</div>
		<div class="position">
      <div class="tile t3">
        <h3 class="title">CSS</h3>
      </div>
		</div>
		<div class="position">
      <div class="tile t4">
        <h3 class="title">Angular</h3>
    </div>
	</div>
	<div class="position">
		<div class="tile t5">
			<h3 class="title">Node</h3>
		</div>
	</div>
  </div>

	<div class="tileRow">
		<div class="position">
			<div class="tile t6">
				<h3 class="title">Keystone</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t7">
				<h3 class="title">Wordpress</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t8">
				<h3 class="title">Ionic</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t9">
				<h3 class="title">Git</h3>
		</div>
	</div>
	<div class="position">
		<div class="tile t10">
			<h3 class="title">Python</h3>
		</div>
	</div>
	</div>

	<div class="tileRow">
		<div class="position">
			<div class="tile t11">
				<h3 class="title">Meteor</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t12">
				<h3 class="title">Oculus</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t13">
				<h3 class="title">Image Magick</h3>
			</div>
		</div>
		<div class="position">
			<div class="tile t14">
				<h3 class="title">Jquery</h3>
		</div>
	</div>
	<div class="position">
		<div class="tile t15">
			<h3 class="title">Heroku</h3>
		</div>
	</div>
	</div>

</div>


<div class="coffee">
	<img id="coffee" src="/images/Gibralter.jpg" alt="Coffee" />
	<div class="fadeText">
	<h3 id="Discipline">Discipline</h3>
	<h3 id="Creative">Creative</h3>
	<h3 id="Passion">Passionate</h3>
	<h3 id="Diplomatic">Diplomatic</h3>
	<h3 id="Leader">Leader</h3>
	<h3 id="Obsessive">Obsessed</h3>
	<h3 id="Dedicated">Dedicated</h3>
	<h3 id="Strong">Professional</h3>
	<h3 id="Independent">Independent</h3>
	<h3 id="Reliable">Reliable</h3>
	<h3 id="Honest">Honest</h3>
	<h3 id="Personable">Personable</h3>
	<h3 id="Constructive">Constructive</h3>
	<h3 id="Imaginative">Imaginitive</h3>
	<h3 id="Forward-Thinking">Forward-Thinking</h3>
	<h3 id="Result-Driven">Result-Driven</h3>
	<h3 id="Friendly">Friendly</h3>
	<h3 id="Polarizing">Polarizing</h3>
	<h3 id="Trustworthy">Trustworthy</h3>
	<h3 id="Smart">Smart</h3>
	</div>
</div>

<div class="line3"></div>

<div class="port">
	<a href="#portJump"><h1 id="portJump">Portfolio</h1></a>
	<div class="lines2">
		<div class="line5"></div>
		<div class="line6"></div>
	</div>

	<h4>Coffee Works Mobile App</h4>
	<p>
		As a coffee roasting company, Coffee Works has served delicious coffee to local Sacramentans since 1982. Although their commitment to quality coffee hasn't changed, they wanted to interface with customers in a more modern way.
		Coffee Works already had a website utalizing WordPress, WooCommerce, and Paypal, which are all integrated into the mobile app. From the client's WordPress dashboard they can add products with a click of a button and it will show up on the website and in the app.
		When a customer purchases coffee the app will verify that the payment was approved by Paypal and the order will be sent to the WooCommerce dashboard for processing. This app was built with Ionic, Cordova, Angular, Jquery, HTML, and CSS.
	</p>
	<div class="CWapp1">
			<img src="/images/Home.png" alt="Town_Dash" />
			<img src="/images/Products.png" alt="Town_Cat" />
			<img src="/images/Addedtocart.png" alt="Town_Job" />
	</div>
	<div class="CWapp1">
			<img src="/images/Cart.png" alt="Town_Reg" />
			<img src="/images/Emailver.png" alt="Town_Job" />
			<img src="/images/Paypal.png" alt="Town_Reg" />
	</div>

	<h4>Nello Alpine - Currently Offline</h4>
	<p>
		Developed for a New York restaurant entrepeneur, Nello Alpine was a breathtaking reminder of the power and creativity of modern web design. Although the website is no longer available, it featured a 360 degree photoshpere from an Aspen mountain top which would slowly
		pan in the background. Furthermore, in front of the photosphere was an iframe of falling snow to give you more of that winter wonderland feel. Working with a talented team of designers we put together a custom stamp collection to complement the vintage mail look which you can see
		faintly as a translucent envelope covering the main page. It was an amazing experience working with this highly skilled team and the client could not have received a better product. This site uses Jquery and Keystone which is built on Node and Express.
	</p>
	<div class="nello">
			<img src="/images/Nello_Main.png" alt="NelloMain" />
			<img src="/images/Nello_about.png" alt="NelloAbout" />
	</div>

	<a href="https://sleepy-fortress-4999.herokuapp.com/#/"><h4>Town Share</h4></a>
	<p>
		As a collective project between friends, Town Share set out to bring neighbors together by gamifying community service. Think of it as craigslist meets yelp in game form. Neighbors do tasks for one another to receiver points which they can then in turn use for tasks to be done for oneself.
		Participants not only receive points, but they also gain experience and ratings which can be monitored on the leader board! As team lead I had to make sure work was progressing forward in a way that enabled my teammates to work independently without stepping on each other's toes.
		My favorite part of managing a team is igniting each team members individual passion and letting them express themselves. On this project we used Angular on the front end and Node/Express on the backend. Other features include Facebook OAuth, password reset with nodemailer, and user profiles.
	</p>
	<div class="tShare">
			<img src="/images/Town_Dash.png" alt="Town_Dash" />
			<img src="/images/Town_Cat.png" alt="Town_Cat" />
			<img src="/images/Town_Job.png" alt="Town_Job" />
			<img src="/images/Town_Reg.png" alt="Town_Reg" />
	</div>

	<a href="https://craft-cocktails.herokuapp.com/#/"><h4>Libation Nation</h4></a>
	<p>
		As one of my first group projects, Libation Nation is a very simple online resource for users to generate cocktail communities and post their favorite recipes. This website features user profiles and full CRUD on both communities and recipes.
		I was personally responsible for the layout and design which as you can see is light, colorful, and fun! So often we are forced to look or represent homogenous data, but with a good eye and a splash of creativity it can come to life. Every challenge presents and opportunity!
	</p>
	<div class="lib">
			<img src="/images/Lib_Nat.png" alt="LibMain" />
			<img src="/images/Lib_Recipe.png" alt="LibRecipe" />
	</div>
</div>

<!-- <div class="lines2">
	<div class="line5"></div>
	<div class="line6"></div>
</div> -->

<!-- <div class="contact">
	<div class="container">
		<h1>Contact</h1>
		<h3>Let's start talking about your next big idea!</h3>
		<div class="row">
			<div class="">
				{{#if enquirySubmitted}}
				<h3>Thanks for getting in touch.</h3>
				{{else}}
				<form method="post">
					<div class="col-md-6">
					<input type="hidden" name="action" value="contact">
					<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
						<label>Name</label>
						<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
					</div>
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label>Email</label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
					</div>
				</div>
					<div class="col-md-6">
					<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
						<label>Message</label>
						<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</div>
				</form>
				{{/if}}
			</div>
		</div>
	</div>

</div> -->
